body {
  background: pink;
}

section {
  width: 60%;
  margin: 0 auto;
}

td {
  width: 4em; /* 1em=16px*/
  height: 4em;
}
.yellow {
  background: yellow;
}
.gray {
  background: gray;
}

.white {
  background: white;
}
.blue {
  background: blue;
}

.black {
  background: black;
}
