.contenu {
  background: linear-gradient(to left, #40a497, #6840a4);
  width: 45em; /* Créé un dégradé linéaire*/
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
}
.contenu2 {
  background: radial-gradient(
    circle at center,
    white,
    green
  ); /*créé un dégradé circulaire*/
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
}
.contenu3 {
  background: repeating-linear-gradient(
    to right,
    white,
    blue,
    red,
    black 200px
  );
  width: 45em;
  height: 45em;
  margin: 0 auto;
  border-radius: 50%;
}
.content4 {
height:150px;
width:300px;
background:radial-gradient(at 50% 100%,
transparent 45%,
hsl(0, 100%, 50%) 50%,
hsl(51, 100%, 50%),
hsl(102, 100%, 50%),
hsl(153, 100%, 50%),
hsl(204, 100%, 50%),
hsl(255, 100%, 50%),
hsl(306, 100%, 50%),
transparent 70%)
}
/*1.Pour un dégradé linéaire les directions possibles sont: to left,
to right,
to top,
to bottom 2. Pour un dégradé circulaire les directions possibles sont: circle at top,
circle at center,
closest-corner(vers le coin le plus proche),
closest-side(vers le coin le plus éloigné),
farthest-corner(vers le coin le plus éloigné),
farthest-side(vers le côté le plus éloigné)*/
