/* .city {
    color: rgb(141, 56, 0);
    text-align: center;
}

.hr {
    width: 28%;
}

.bilan {
    text-align: center;
}

.ssdg {
    text-align: center;
}

.plate {
  padding-left: 75px;
}*

.div1 {
  display: inline-block;
}

.plate {
    position: absolute;
    left: 20%;
    top: 24%;
}

.edp {
    font-size: 20px;
    position: absolute;
    right: 28%;
}

.edpp {
    position: absolute;
    top: 50%;
    right: 23%;
    font-size: 20px;
    width: 240px;
}

.hr1 {
    position: absolute;
    left: 35%;
    top: 49%;
    width: 42%;
}

.hr2 {
    width: 55%;
    padding-left: 500px;
}

.lasal {
    border-bottom: 1px solid black;
    width: 483px;
}

.abb {
    margin-left: 500px;
    margin-top: 200px;
}

.amb {
    width: 26%;
    font-size: 16px;
}

.note {
    color: white;
    background: rgb(56, 56, 56);
    width: 170px;
}

.resto_01 {
    position: absolute;
    left: 55.9%;
    top: 93.7%;
}

.resto_02 {
    position: absolute;
    left: 29%;
    top: 147%;
}

.service {
    float: right;
    margin-right: 415px;
    margin-top: 150px;
    width: 19%;
}

.srv {
    font-size: 16px;
}

.dress {
    width: 34%;
    margin-left: 570px;
    margin-top: 20px;
}

.dres {
    width: 55%;
    font-size: 16px;
}

.hr3 {
    width: 100%;
}

.resto_03 {
    position: absolute;
    right: 17.3%;
    top: 200.5%;
}

.resto_04 {
    position: absolute;
    left: 29.3%;
    top: 277%;
}

.gout {
    width: 34%;
    float: right;
    margin-top: 350px;
    margin-right: 130px;
}

.st {
    width: 270px;
}

.resto_04 {
    position: absolute;
    left: 29%;
    top: 253.9%;
}

.ct {
    position: absolute;
    left: 48%;
    top: 315%;
}

.ctt {
    position: absolute;
    left: 50%;
    top: 318%;
}

footer {
    text-align: center;
    margin-top: 955px;
} */

.sec1 {
    margin-top: 15px;
    width: 951px;
    height: 612px;
    position: absolute;
    right: 25%;
    background: url(img/woddPlank.jpg);
}

.ce {
    position: absolute;
    right: 92%;
    font-size: 20px;
    top: 5%;
}

.hr1 {
    border-bottom: solid 10px pink;
    position: absolute;
    top: 10%;
    right: 92%;
    width: 47px;
}

.men {
    list-style-type: none;
    margin: 10px;
    margin-top: 25px;
    float: right;
    right: 50%;
}

.cerf {
    width: 20%;
    height: 32%;
    position: absolute;
    top: 39%;
    right: 40%;
}

.div {
    border-top: 150px solid #ff002d;
    border-left: 150px solid transparent;
    opacity: 0.5;
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
    right: 43%;
    top: 48%;
}

.fa {
    font-size: 50px;
    margin-left: 48%;
    margin-top: 52%;
}
.asp {
    position: absolute;
    left: 55.9%;
    top: 93.7%;
}