/* .ooo {
  max-width: 22%;
  border-right: solid 1px black;
  
}

.ppp {
  max-width: 100%;
}

.besoin {
  color: rgb(0, 132, 255);
}

.num {
  position: absolute;
  top: 45%;
  right: 55%;
}

.cmpt {
  background: rgb(21, 55, 119);
  text-align: center;
  color: white;
}

.pp {
  background: rgb(21, 55, 119);
  color: white;
  text-align: center;
}

.accueil {
  background: rgb(224, 85, 108);
  text-align: center;
  color: white !important;
  padding-right: 20px;
  padding-left: 20px;
}

.vet {
  background: rgb(0, 132, 255);
  color: white;
}

.mais {
  background: rgb(0, 132, 255);
  color: white;
}

.techn {
  background: rgb(0, 132, 255);
  color: white;
}

.bij {
  background: rgb(0, 132, 255);
  color: white;
}

.navbar-nav a {
  background: rgb(0, 132, 255);
  color: white !important;
}

.bp {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 200px !important;

}

.op {
  background: gray;
  text-align: center;
} */

/* Style global */
body {
  background: linear-gradient(to bottom, #ddd, #fff);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Style header */
.logo {
  position: relative;
  left: 7%;
  bottom: 23%;
}

.col-md-6 .lead {
  color: deeppink;
  bottom: 29%;
  position: relative;
}

.col-md-3 h4 {
  color: aqua;
}

.col-md-3 span {
  bottom: 17%;
  position: absolute;
  top: 26%;
  left: 26%;
}

.col-md-3 p {
  color: rgb(148, 144, 144);
  font-size: 12px;
}

.account {
  width: 495px;
  height: 12vh;
  color: #fff;
  background: rgb(50, 231, 231);
}

.compte,
.account p {
  color: #fff !important;
}

hr {
  background: #fff;
  width: 495px;
  margin-left: -6%;
}

/* Style nav */
nav {
  width: 88%;
}

nav ul {
  color: #fff;
  height: 5vh;
  line-height: 3;
}

nav ul li {
  padding-right: 1%;
  margin-left: 5%;
}

nav ul li:first-child {
  background: deeppink;
}

/* Style div contenu */
.t {
  border-right: 2px solid #cccccc;
}

.b h3 {
  padding: 1%;
  color: aqua;
}

.bloc2 {
  border: 1px solid #cccccc;
  margin-right: 2%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin-bottom: 4%;
  box-shadow: 5px 5px 5px #ddd;
}

.bloc2 h4 {
  width: 110%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  font-weight: 900;
  text-align: center;
  background: #cccccc;
  position: relative;
  right: 5%;
  top: 0%;
  margin: 0;
  padding: 0;
}

.bloc2 a {
  float: right;
}

/* Style footer */
footer {
  height: 5vh;
  color: #fff;
  line-height: 3;
}

footer ul {
  margin-left: 5%;
}