/* style global */
@import url("https://fonts.googleapis.com/css?family=Diplomata+SC|Roboto+Slab");

body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Diplomata SC", cursive;
}

p {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

section {
  padding: 0;
}

/* Navigation  */
.navigation {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

.collapse {
  height: auto;
  text-transform: uppercase;
}

.menu {
  z-index: 999;
  width: 100%;
}

.menu li {
  margin-right: 5%;
}

.menu li a {
  color: white;
}

.billeterie {
  border: 0;
  padding: 13px;
  height: 40px;
  min-width: 160px;
  line-height: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #1c5f81;
  border-radius: 0;
}

.billeterie:hover {
  color: #1c5f81;
  background: white;
}

/* Header */
header {
  margin: 0;
  padding: 0;
}

.bg {
  background: url(img/dinosaure.jpg) no-repeat center;
  background-size: 100% 100%;
}

.logo {
  margin-top: 18%;
  margin-left: 0%;
}

.ruban {
  margin-left: 105%;
}

/* Body */
.entree {
  width: 100%;
}

.entree:hover .entree:focus {
  transition: all 2s;
  transform: scale(1.1);
}

.adresse {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 30px;
}

.liste {
  list-style: none;
  padding: 0;
}

.frame {
  border: 0;
  width: 100%;
  height: 20em;
}

.partner-item {
  padding-right: 10%;
}

/* footer */
.footer {
  color: white;
  background: black;
}

.footer li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.fa-heart {
  color: #c82333;
}
